
.drag-and-drop {
    border: none;
    padding: 14px;
    
}
@media (min-width: 1200px) {
    .container {
      max-width: 1160px;
    }
  }

  body[data-theme='light'] {
    background-color: #ffffff;
    color: #000000;
    --log-bg-color: #f8f9fa;
    --log-text-color: #212529;
    --log-border-color: #dee2e6;
    --chatbox-bg-color: #ffffff;
    --chatbox-text-color: #000000;
    --input-bg-color: #ffffff;
    --input-text-color: #000000;
    --input-border-color: #dee2e6;
    --button-bg-color: #007bff;
    --button-text-color: #ffffff;
}

body[data-theme='dark'] {
    background-color: #1d1d1d;
    color: #ffffff;
    --log-bg-color: #353535;
    --log-text-color: #e0e0e0;
    --log-border-color: #424242;
    --chatbox-bg-color: #1d1d1d;
    --chatbox-text-color: #ffffff;
    --input-bg-color: #2a2a2a;
    --input-text-color: #e0e0e0;
    --input-border-color: #424242;
    --button-bg-color: #0062cc;
    --button-text-color: #ffffff;
}

/* Button Styles */
.btn-primary {
    background-color: #007bff;
}

body[data-theme='dark'] .btn-primary {
    background-color: #375a7f;
}

body[data-theme='dark'] .btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
}

body[data-theme='dark'] .btn-danger {
    background-color: #dc3545;
    color: #ffffff;
}

body[data-theme='dark'] .btn-info {
    background-color: #17a2b8;
    color: #ffffff;
}

body[data-theme="light"] .drag-and-drop.dragging,body[data-theme="light"] .file-row.dragging {
    border-color: blue;
    border: 4px dashed #007bff;
    border-radius: 5px;
    padding: 10px;
    
    background-color: #f8f9fa;
    cursor: pointer;
}

body[data-theme="dark"] .drag-and-drop.dragging ,body[data-theme="dark"] .file-row.dragging {
    border-color: #003064;
    background-color: #2b2b2b;
    border: 4px dashed #003064;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
/* Custom File Input and Form Control Styles */
body[data-theme="light"] .custom-file-label,
body[data-theme="light"] .form-control,
body[data-theme="light"] .custom-file-input {
    background-color: #ffffff;
    color: #000000;
    border-color: #ced4da;
}

body[data-theme="dark"] .custom-file-label,
body[data-theme="dark"] .form-control,
body[data-theme="dark"] .custom-file-input ,
body[data-theme="dark"] .list-group-item
{
    background-color: #333333;
    color: #ffffff;
    border-color: #444444;
}
body[data-theme="dark"] .text-muted{
    color: #b9b9b9 !important;
}

/* Browse Button Text Color */
body[data-theme="light"] .custom-file-label::after {
    background-color: #eeeeee;
    color: #000000;
    border-color: #dddddd;
}

body[data-theme="dark"] .custom-file-label::after {
    background-color: #666666;
    color: #ffffff;
    border-color: #777777;
}

/* Table Styles for Dark Mode */
body[data-theme='dark'] .table {
    background-color: #333333;
    color: #ffffff;
}

body[data-theme='dark'] .table-striped tbody tr:nth-of-type(odd) {
    background-color: #454545;
}

/* Star Rating System */
.star-rating {
    direction: rtl;
    font-size: 1.5em;
    unicode-bidi: bidi-override;
    text-align: center;
}

.star-rating input[type="radio"] {
    display: none; /* Hide the radio buttons */
}

.star-rating label {
    color: #bbb; /* Dimmer color for empty stars */
    font-size: 2em;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 1px #aaa; /* Subtle shadow for depth */
}

.star-rating input[type="radio"]:checked ~ label {
    color: #f39c12; /* Bright color for selected stars */
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f39c12; /* Bright color on hover */
}

/* Log Container Styles */
.log-container {
    height: 80vh; /* Adjust this value as needed */
    overflow-y: scroll;
    background-color: var(--log-bg-color);
    color: var(--log-text-color); /* Text color for the logs */
    padding: 1rem;
    border: 1px solid var(--log-border-color);
    border-radius: .25rem;
}

/* Feedback List Styles */
.list-group-item {
    position: relative;
    padding-bottom: 40px; /* Add space for the button */
}

.delete-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/* Override default pre styling for log container */
.log-container pre {
    color: var(--log-text-color) !important;
    background-color: var(--log-bg-color) !important;
    font-size: 14px; /* Adjust this as needed */
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
body[data-theme='dark'] .feedback-item {
    background-color: #333333;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(255,255,255,0.1);
}

body[data-theme='dark'] .rating-badge {
    background-color: #1f6f8b;
}
/* Adjust card layout */
.card {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(146, 146, 146, 0.5); /* Glow effect */
    transition: transform 0.2s ease-in-out;
    min-height: 386.8px; /* Ensure consistent card height */
    min-width: 140px; /* Minimum width for the card */
    max-width: 100%; /* Ensure the card does not exceed its container width */
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(146, 146, 146, 0.7); /* Enhanced glow on hover */
}

.card-body {
    padding: 15px;
    background-color: #ffffff; /* Light mode background */
    border-radius: 5px;
}

.file-preview img,
.file-preview video,
.file-preview iframe {
    width: 100%;
    height: auto;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #f8f9fa; /* Light mode background for media */
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* Center the buttons in the card */
.d-flex.justify-content-center {
    margin-top: 15px;
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

/* Dark mode adjustments for cards */
body[data-theme='dark'] .card {
    background-color: #333333;
    color: #ffffff;
    border-color: #444444;
}

body[data-theme='dark'] .card:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Enhanced light glow on hover */
}

body[data-theme='dark'] .card-body {
    background-color: #444444;
    border-radius: 5px;
}

body[data-theme='dark'] .file-preview img,
body[data-theme='dark'] .file-preview video,
body[data-theme='dark'] .file-preview iframe {
    background-color: #555555;
    color: #ffffff;
}

/* Adjust card button layout */
.card-body .btn {
    margin-bottom: 5px;
    width: 100%;
}

/* Dark mode file preview adjustments */
body[data-theme='dark'] .file-preview img,
body[data-theme='dark'] .file-preview video,
body[data-theme='dark'] .file-preview iframe {
    border-radius: 10px;
}
/* Responsive adjustments */
@media (max-width: 576px) {
    .card {
        height: 386.8;
        
    }

    .card-body .btn {
        font-size: 0.9rem;
    }
    .container {
        max-width: 700px !important;
      }
    .file-actions button {
        display: block;
        width: 100%;
        margin-bottom: 10px; /* Add margin when stacked */
    }
    /* Ensure last stacked button has no bottom margin */
    .file-actions button:last-child {
        margin-bottom: 0;
    }
    .date-column {
        display: none;
      }
}

@media (min-width: 768px) and (max-width: 992px) {
    .card {
        height: 386.8;
    }
    .date-column {
        display: none;
      }
}

@media (min-width: 992px) {
    .card {
        height: 386.8;
    }
}
/* Dark theme for modal */
body[data-theme='dark'] .modal-content {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
}

body[data-theme='dark'] .modal-header {
    border-bottom: 1px solid #444444;
}

body[data-theme='dark'] .modal-footer {
    border-top: 1px solid #444444;
}

body[data-theme='dark'] .modal-title {
    color: #ffffff;
}

body[data-theme='dark'] .close {
    color: #ffffff;
    opacity: 0.8;
}

body[data-theme='dark'] .btn-primary {
    background-color: #375a7f;
    border-color: #4a90e2;
}

body[data-theme='dark'] .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

body[data-theme='dark'] .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

body[data-theme='dark'] .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}
/* Styles for the List/Grid view toggle icon */
#viewToggleBtn {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.5em;
    padding-top: 3px;
    padding-bottom: 3px;
}

#viewToggleIcon {
    color: #ffffff;
}

/* Ensure correct colors in dark mode */
body[data-theme='dark'] #viewToggleIcon {
    color: #ffffff;
}

#viewToggleBtn{
    float: right;
    margin: 5px;
}
/* Styling for text-based file previews in dark mode */
body[data-theme='dark'] .txt-preview pre {
    color: #ffffff; /* Set text color to white */
    background-color: #333333; /* Optional: set a darker background for the preview area */
}

/* Optional: Styling for light mode to keep the text dark */
body[data-theme='light'] .txt-preview pre {
    color: #000000; /* Set text color to black */
    background-color: #f8f9fa; /* Optional: set a lighter background for the preview area */
}
footer{
    min-height: 20px;
}
/* CSS to make the file name consistent in height */
.card-title.file-name {
    height: 3em; /* Adjust the height to accommodate two lines */
    overflow: hidden;
    line-height: 1.5em; /* Line height to control the spacing between lines */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to two lines */
    -webkit-box-orient: vertical;
}

.card-title.file-name a {
    display: block;
    color: inherit; /* Inherit color based on light/dark mode */
    text-decoration: none;
    white-space: pre-line; /* Preserve whitespace to add blank line if needed */
}
/* Dark mode adjustments for progress modal */
body[data-theme="dark"] .modal-content {
    background-color: #333;
    color: #fff;
}

body[data-theme="dark"] .progress-bar {
    background-color: #007bff;
}
#editor {
    height: 80vh;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
@media (min-width: 1400px) {
    .container {
      max-width: 1260px;
    }
  }
  
  @media (min-width: 1800px) {
    .container {
      max-width: 1420px;
    }
  }
  
  .uploaded_image {
    max-width: 100%;
    height: auto;
}
.user_img_msg {
    width: 40px;
    height: 40px;
    margin: 20px;
    margin-top: 0px;
}
.msg_container_send, .msg_container{
    margin-top:20px
}
.uploaded_image {
    max-width: 60%; /* Reduced the image size in the conversation */
    vertical-align: bottom;
    float: right; /* Align image to the right */
    margin-left: 10px; /* Add some space between the image and the text */
    border-radius: 5px; /* Slight border radius for better appearance */
}
.text_below_image {
    text-align: right; /* Align the text to the right under the image */
    margin-top: 5px; /* Add some space between the image and the text */
    margin-left: auto; /* Ensure text aligns with the image on the right */
    margin-right: 0;
}
/* Ensure the subfolder drag-and-drop area is prioritized */
.file-row.dragging {
    z-index: 100; /* High enough to be above the general drop area */
    position: relative; /* Ensure z-index is applied */
}

#dropArea {
    z-index: 50; /* Lower value to be below the subfolder */
    position: relative; /* Ensure z-index is applied */
}

/* Styling for code blocks */

body[data-theme="dark"] pre code ,body[data-theme="dark"] pre {
    background-color: #2d2d2d;  /* Dark grey background */
    color: #f8f8f2; /* Light text color for readability */
    padding: 5px; /* Padding inside the code block */
    border-radius: 5px; /* Slightly rounded corners */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for code */
    font-size: 14px; /* Adjust the font size if needed */
    white-space: pre-wrap; /* Wrap code lines if they are too long */
}

/* Additional styling for inline code */
body[data-theme="dark"] code {
    background-color: #343644; /* Slightly different background for inline code */
    color: #7bdd39; /* Light text color */
    background-color: #2d2d2d;  /* Dark grey background */
    color: #f8f8f2; /* Light text color for readability */
    padding: 5px; /* Padding inside the code block */
    border-radius: 5px; /* Slightly rounded corners */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for code */
    font-size: 14px; /* Adjust the font size if needed */
    white-space: pre-wrap; /* Wrap code lines if they are too long */
}

/* spinner style */

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff; /* Change color to match your theme */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin-left: 10px;
    margin-top: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
body[data-theme="dark"] .alert{
    background-color:#375a7f;
    color: #ffffff;
    border-color: #4a90e2;
}
.file-name-cell a {
    display: inline-block;
    max-width: 400px; /* Adjust the max-width as needed */
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.input-group {
    flex-grow: 1;
    min-width: 150px; /* Minimum width for the input group */
    margin-right: 10px;
}

.input-group .form-control {
    flex-grow: 1;
    min-width: 100px; /* Minimum width for the input */
}

.input-group-append {
    flex-shrink: 0; /* Prevent the button from shrinking */
}

.btn {
    white-space: nowrap;
}

@media (max-width: 768px) {
    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }

    .input-group {
        margin-right: 0;
        width: 100%; /* Ensure the input group takes full width */
        margin-bottom: 10px; /* Add some spacing between elements */
    }

    .btn {
        width: 100%; /* Make the button span the full width on small screens */
    }
    #themeToggle{
        margin-left: 20px;
    }
}

