/* General Light and Dark Mode Styles */
body[data-theme='light'] {
    background-color: #ffffff;
    color: #000000;
    --log-bg-color: #f8f9fa;
    --log-text-color: #212529;
    --log-border-color: #dee2e6;

}

body[data-theme='dark'] {
    background-color: #1d1d1d;
    color: #ffffff;
    --log-bg-color: #353535;
    --log-text-color: #e0e0e0;
    --log-border-color: #424242;
}

/* Button Styles */
.btn-primary {
    background-color: #007bff;
}

body[data-theme='dark'] .btn-primary {
    background-color: #375a7f;
}

body[data-theme='dark'] .btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
}

body[data-theme='dark'] .btn-danger {
    background-color: #dc3545;
    color: #ffffff;
}

body[data-theme='dark'] .btn-info {
    background-color: #17a2b8;
    color: #ffffff;
}

/* Custom File Input and Form Control Styles */
body[data-theme="light"] .custom-file-label,
body[data-theme="light"] .form-control,
body[data-theme="light"] .custom-file-input {
    background-color: #ffffff;
    color: #000000;
    border-color: #ced4da;
}

body[data-theme="dark"] .custom-file-label,
body[data-theme="dark"] .form-control,
body[data-theme="dark"] .custom-file-input ,
body[data-theme="dark"] .list-group-item
{
    background-color: #333333;
    color: #ffffff;
    border-color: #444444;
}
body[data-theme="dark"] .text-muted{
    color: #b9b9b9 !important;
}

/* Browse Button Text Color */
body[data-theme="light"] .custom-file-label::after {
    background-color: #eeeeee;
    color: #000000;
    border-color: #dddddd;
}

body[data-theme="dark"] .custom-file-label::after {
    background-color: #666666;
    color: #ffffff;
    border-color: #777777;
}

/* Table Styles for Dark Mode */
body[data-theme='dark'] .table {
    background-color: #333333;
    color: #ffffff;
}

body[data-theme='dark'] .table-striped tbody tr:nth-of-type(odd) {
    background-color: #454545;
}

/* Star Rating System */
.star-rating {
    direction: rtl;
    font-size: 1.5em;
    unicode-bidi: bidi-override;
    text-align: center;
}

.star-rating input[type="radio"] {
    display: none; /* Hide the radio buttons */
}

.star-rating label {
    color: #bbb; /* Dimmer color for empty stars */
    font-size: 2em;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 1px #aaa; /* Subtle shadow for depth */
}

.star-rating input[type="radio"]:checked ~ label {
    color: #f39c12; /* Bright color for selected stars */
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f39c12; /* Bright color on hover */
}

/* Log Container Styles */
.log-container {
    height: 80vh; /* Adjust this value as needed */
    overflow-y: scroll;
    background-color: var(--log-bg-color);
    color: var(--log-text-color); /* Text color for the logs */
    padding: 1rem;
    border: 1px solid var(--log-border-color);
    border-radius: .25rem;
}

/* Feedback List Styles */
.list-group-item {
    position: relative;
    padding-bottom: 40px; /* Add space for the button */
}

.delete-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/* Override default pre styling for log container */
.log-container pre {
    color: var(--log-text-color) !important;
    background-color: var(--log-bg-color) !important;
    font-size: 14px; /* Adjust this as needed */
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
body[data-theme='dark'] .feedback-item {
    background-color: #333333;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(255,255,255,0.1);
}

body[data-theme='dark'] .rating-badge {
    background-color: #1f6f8b;
}