{% extends "base.html" %}

{% block title %}Server Logs{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="my-4">Server Logs</h1>
    <div class="log-container">
        <pre style="white-space: pre-wrap;">{{ log_contents }}</pre>
    </div>
    <form action="{{ url_for('clear_logs') }}" method="POST" style="display:inline;">
        <button type="submit" class="btn btn-warning mt-3">Clear Log File</button>
    </form>
    <a href="{{ url_for('admin') }}" class="btn btn-primary mt-3">Back to Admin Panel</a>
</div>
{% endblock %}