<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Management</title>
    <script>
        function confirmAction(message, form) {
            if (confirm(message)) {
                form.submit();
            }
        }

        function confirmDeletion(itemType, itemName) {
            return confirm(`Are you sure you want to delete this ${itemType}: ${itemName}?`);
        }
    </script>
</head>
<body>
    <h1>File Management System</h1>
    <form action="/upload{{ '/' + path if path else '' }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple>
        <button type="submit">Upload</button>
    </form>
    <form action="/create_folder{{ '/' + path if path else '' }}" method="POST">
        <input type="text" name="folder_name" placeholder="New Folder Name">
        <button type="submit">Create Folder</button>
    </form>
    <h2>Files and Folders:</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if path and (session['username'] == 'Admin' or (session['username'] != 'Admin' and path != session['username'])) %}
            <tr>
                <td colspan="2"><a href="{{ url_for('index', path='/'.join(path.split('/')[:-1])) }}">.. (go back (go up one level))</a></td>
            </tr>
            {% endif %}
            {% for file in files %}
            <tr>
                <td>
                    {% if file.is_dir %}
                        <a href="{{ url_for('index', path=path + '/' + file.name if path else file.name) }}">{{ file.name }}/</a>
                        <form action="{{ url_for('download_folder', path=(path + '/' + file.name) if path else file.name) }}" method="POST" style="display:inline;" onsubmit="event.preventDefault(); confirmAction('Are you sure you want to download this folder as a zip?', this);">
                            <button type="submit">Download Folder</button>
                        </form>
                    {% else %}
                        <a href="{{ url_for('uploaded_file', path=path, filename=file.name) }}">{{ file.name }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if file.is_dir %}
                        <form action="{{ url_for('delete_folder', path=path + '/' + file.name if path else file.name) }}" method="POST" style="display:inline;" onsubmit="return confirmDeletion('folder', '{{ file.name }}');">
                            <button type="submit">Delete Folder</button>
                        </form>
                    {% else %}
                        <a href="{{ url_for('download_file', path=path, filename=file.name) }}">Download</a>
                        <form action="{{ url_for('delete_file', path=path, filename=file.name) }}" method="POST" style="display:inline;" onsubmit="return confirmDeletion('file', '{{ file.name }}');">
                            <button type="submit">Delete</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('admin') }}">admin_panel</a>
</body>
</html>
